
.test-bg-red
{
    background-color: lightsalmon;
}
.test-bg-green
{
    background-color: lightgreen;
}
.test-bg-blue
{
    background-color: lightblue;
}

.test-pad-top-10
{
    padding-top: 10px;
}



